---
const { creators, title, series, pageCount, prices } = Astro.props
---

<div class="px-5 py-5">
  <div>
    <h2 class="font-montserrat mb-3 text-lg font-medium text-stone-800">
      {title}
    </h2>
  </div>
  <ul class="list-none">
    {
      creators?.items?.map((creator) => (
        <li class="font-montserrat mb-1 font-light text-stone-800">
          {creator.name} - <em>{creator.role}</em>
        </li>
      ))
    }
  </ul>
  <span
    class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-gray-600"
  >
    {series.name}
  </span>
  <span
    class="inline-flex items-center rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600"
  >
    {pageCount} pages
  </span>
  {
    prices.map((price) => (
      <span class="inline-flex items-center rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600">
        ${price.price}
      </span>
    ))
  }
</div>
